<html>
    <head>
        <title>Camellia Article Writer</title>
    </head>
    <body>
        <h1>Hello world, I guess?</h1>
        <nav>
            Navbar here, supposedly.
        </nav>
        <main>
            List of articles goes here.
        </main>
        <aside>
            <p>There are <%= titles.length %> articles in this site!</p>
        </aside>
    </body>
</html>